{% extends "base.html" %}
{% block title %}Lançar Tarefa{% endblock %}

{% block content %}
<section class="card form-card">
    <h1>Lançar tarefa</h1>
    <form class="form" method="post">

        <label>Tarefa</label>
        <select name="task_id" id="task_id" required>
            <option value="">Selecione</option>
            {% for task in tasks %}
            <option value="{{ task.id }}" data-amount="{{ task.amount }}">
                {{ task.title }}
            </option>
            {% endfor %}
        </select>

        <label>Observação</label>
        <input type="text" name="note">

        <label>Valor</label>

        <!-- VISUAL -->
        <input id="amount" readonly>

        <!-- REAL (vai pro backend) -->
        <input type="hidden" name="amount" id="amount_hidden">

        <button class="btn primary">Enviar para aprovação</button>

    </form>
</section>
{% endblock %}